bin/*
conf/*
docs/*
eclipse/*
forge/*
jars/*
lib/*
logs/*
reobf/*
runtime/*
temp/*

src/common/*
src/minecraft/cpw/*
src/minecraft/ibxm/*
src/minecraft/net/*
src/minecraft/paulscode/*
src/minecraft/forge_logo.png
src/minecraft/Start.java
src/minecraft_server/*

CHANGELOG
LICENSE.txt

*.bat
*.sh
*.tar.gz